@font-face {
  font-family: "Orbitron";
  src: url("fonts\\Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.clock-display {
  color: red;
  /*text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px darkred, 0 0 20px darkred;*/
  font-family: "Orbitron", monospace;
  font-size: 50px;
  margin: 10px 0;
}

body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  background-image: url("img/background.png");
  background-size: cover;
  color: white;
}

h1 {
  margin: 0;
  color: black;
}

fieldset {
  border-width: 10px;
  border-color: #3fee88;
  border-style: inset;
}

.labels-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

label {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 20px;
}
