body {
  text-align: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  background-size: cover;
  color: white;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

h1 {
  mix-blend-mode: difference;
  margin-bottom: auto;
  margin-top: auto;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(74, 72, 72, 0.251);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
}

.left-side {
  justify-content: flex-start;
  flex: 1;
}

.right-side {
  justify-content: space-around;
  flex: 1;
}

.label-text {
  font-family: "Source Code Pro", monospace;
  color: black;
  font-size: 0.5em;
  display: block;
  margin-bottom: 5px;
}

#temperature,
#windDirection,
#wind-speed,
#rain_height,
#hygrometrie,
#polution,
#pressur {
  font-family: "Source Code Pro", monospace;
  font-size: auto;
  background-color: #c8bcdc93;
}
