body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  background-image: url("../img/video_background.mp4");
  background-size: cover;
  color: white;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

h1 {
  margin: 0;
  color: black;
}

.label-text {
  font-family: "Source Code Pro", monospace;
  color: black;
  font-size: 0.5em;
  display: block;
  margin-bottom: 5px;
}

#temperature,
#wind_direction,
#wind-speed,
#rain_height,
#hygrometrie,
#polution,
#pressur {
  font-family: "Source Code Pro", monospace;
  font-size: auto;
  background-color: #c8bcdc93;
}

header1 {
  background-color: #c8bcdc93;
}
