* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding: 1rem;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  #background-video {
    display: none;
  }

  body {
    background-image: url("../img/static_background.png");
    background-size: cover;
    background-position: center;
  }
}

h1 {
  mix-blend-mode: difference;
  font-size: 6rem;
  margin: 1rem 0;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
  background-color: rgba(74, 72, 72, 0.3);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.left-side,
.right-side,
.center-content {
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.label-text {
  font-family: "Source Code Pro", monospace;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.clock-display {
  font-size: 1.5rem;
  color: white;
}

#temperature,
#windDirection,
#wind-speed,
#rain_height,
#hygrometrie,
#polution,
#pressur,
#luminosity,
#altitude {
  font-family: "Source Code Pro", monospace;
  background-color: rgba(200, 188, 220, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 2px solid #fff;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #1c40e0da;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1c40e0da;
}

a {
  display: block;
  margin-top: 20px;
  margin: 1em;
  color: #000000;
  font-weight: bold;
  font-size: 1em;
}
